body {
    font-family: sans-serif;
}

#assignment-instructions {
    color: blue;
    font-family: sans-serif;
}

code {
    font-family: monospace;
    color: red;
}

.second-list-item code{
    color: green;
}

li {
    font-family: inherit;
}

.first-list-item ~ li {
    background: black;
    color: white;
}

ol > li {
    background: black;
    color: white;
}
